<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vm2team.brawlstarsguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/brawlstarsicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".wlc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu" />
        <activity android:name=".brawlers" />
        <activity android:name=".gems" />
        <activity android:name=".chips" />
        <activity android:name=".coins" />
        <activity android:name=".elixir" />
        <activity android:name=".trophies" />
        <activity android:name=".brawlboxes" />
        <activity android:name=".controlmodes" />
        <activity android:name=".obtainingbrawlers" />
        <activity android:name=".levelingupbrawlers" />
        <activity android:name=".battlemodes" />
        <activity android:name=".beginnersguide" />
        <activity android:name=".gamemodes" />
        <activity android:name=".overview" />
        <activity android:name=".bounty" />
        <activity android:name=".heist" />
        <activity android:name=".showdown" />
        <activity android:name=".smashgrab" />
    </application>

</manifest>